.ticketContainer{
  background-color: #8A74F9;
}
.ticket{
  position: relative;
}
.trash-div {
  width: 70px;
  height: 65px;
  position: absolute;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  left: 60px;
  top: -15px;
}

 .circleLeft {
  transform: rotate(180deg);
}
.circleLeft {
  width: 12px;
  height: 24px;
  background-color: #f3f5f7;
  border-radius: 0 12px 12px 0;
  transform: rotate(360deg);
  border-style: none;
}
.circleRight {
  width: 12px;
  height: 24px;
  background-color: #f3f5f7;
  border-radius: 12px 0 0 12px;
  border-style: none;
  transform: rotate(360deg);
}
.ripLine {
  width: 100%;
  border-top: 3px solid #B7B5E4;
  border-top-style: dashed;
}
.ticketButton{
  cursor: pointer;
  border: 1px solid;
  padding: 5px;
  border-radius: 7px;

}
